*{
	outline: 1px solid red;
}
body{
	margin: 0;
	padding: 0;
}
/*=================================
=            SECTION#1            =
=================================*/
header {
/*	position: fixed;
*/	width: 100%;
	background: white;
}
#link-header a{
	padding: 30px;
	padding-top: 20px;
	color: black;
	font-size: 20px
}


/*=====  End of SECTION#1  ======*/


/*=================================
=            SECTION#2            =
=================================*/
#imagen-fondo-sect1{
	background: url(../img/taxi.jpg) no-repeat;
	background-size: cover;
  	background-position:bottom;
  	position:  relative;
  	height: 800px;
  	width: 100%;
}
/*=====  End of SECTION#2  ======*/
/*=================================
=            SECTION#3            =
=================================*/
#borde-blanco{
	padding-top: 100px;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	height: 600px;
	
}


/*=====  End of SECTION#3  ======*/

/*=================================
=            SECTION#4            =
=================================*/
#fondo-sect4{
	background: url(../img/conduce.jpg) no-repeat;
	background-size: 100%;
	height: 500px;
}


/*=====  End of SECTION#4  ======*/

/*=================================
=            SECTION#5            =
=================================*/
#map {
   width: 30%;
   height: 400px;
   background-color: grey;
 }


/*=====  End of SECTION#5  ======*/

/*=================================
=            SECTION#6            =
=================================*/
footer{
	background: #807A7A;
}


/*=====  End of SECTION#6  ======*/
